:root {
  --peru: #cd9452;
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-dg: rgba(0, 0, 0, 0.481);
  --border: .1rem solid #aaa;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .4s cubic-bezier(.43, 1.1, .62, 1.08);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--peru);
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  font-size: 2.5rem;
  color: var(--peru)
}

.heading h3 {
  font-size: 4.5rem;
  color: var(--black);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background-color: var(--peru);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
}

.btn:hover {
  letter-spacing: .2rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  background: var(--white);
  z-index: 1000;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i {
  color: var(--peru);
  padding-right: .5rem;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--light-black);
}

.header .navbar a:hover {
  color: var(--peru)
}

#menubtn {
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
  display: none;

}

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }

}

.home {
  padding: 0;
  background-color: var(--black);
}

.home .slide {
  min-height: 100vh;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .slide::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-dg);
  z-index: -1;
}

.home .slide .content {
  text-align: center;
  width: 70rem;
  display: none;
}

.home .slide .content span {
  font-size: 3rem;
  color: var(--light-white);
  display: block;
  padding-bottom: .5rem;
  animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .2s backwards;
}

.home .slide .content h3 {
  font-size: 8vw;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .4s backwards;
  line-height: 1;
  padding: 2rem 0;
}

.home .slide .content .btn {
  animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .6s backwards;
}

.home .swiper-slide-active .content {
  display: inline-block;

}

.swiper-button-next,
.swiper-button-prev {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  color: var(--black);
  background-color: var(--white);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--peru);
  color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  flex: 1 1 41rem
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 41rem;
}

.about .content .title {
  font-size: 4rem;
  color: var(--black);
}

.about .content p {
  font-size: 1.7rem;
  color: var(--light-black);
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.about .content .icons-container .icon {
  flex: 1 1 16rem;
  text-align: center;
  background-color: var(--light-bg);
  padding: 3rem 2rem;
}

.about .content .icons-container img {
  height: 3rem;
}

.about .content .icons-container h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: var(--light-black);
  font-weight: normal;
}

.food {
  background: var(--light-bg);
}

.food .slider {
  text-align: center;
  padding: 4rem 2rem;
  transform: scale(.9);
  border-radius: .5rem;
  opacity: .5;
  margin-bottom: 4rem;
  cursor: pointer;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;

}

.swiper-pagination-bullet-active {
  background: var(--peru);

}

.food .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
}

.food .slider img {
  height: 25rem;
  margin-bottom: 1rem;
}

.food .slider h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: black;
}

.food .price {
  color: var(--peru);
  font-size: 2.5rem;
}

.food-preview-container {
  position: fixed;
  background: var(--dark-dg);
  top: 0;
  left: 0;
  z-index: 1100;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.food-preview-container .food-preview {
  text-align: center;
  padding: 3rem 2rem;
  background-color: var(--white);
  border-radius: .5rem;
  display: none;
  width: 35rem;
}

.food-preview-container .active {
  display: block;
  animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) backwards;
}

.food-preview-container .food-preview img {
  height: 25rem;
  margin-bottom: 1rem;
}

.food-preview-container .food-preview h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.food-preview-container .food-preview .stars {
  margin-top: .5rem;
}

.food-preview-container .food-preview .stars i {
  font-size: 1.5rem;
  color: var(--peru);
}

.food-preview-container .food-preview p {
  font-size: 1.6rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.food-preview-container .food-preview .price {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: .5rem;
}

#close-preview {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: var(--white);

}

#close-preview:hover {
  transform: rotate(90deg);
}

.galery .galery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.galery .galery-container .box {
  height: 40rem;
  position: relative;
  overflow: hidden;
}

.galery .galery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galery .galery-container .icon {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-dg);
}

.galery .galery-container i {
  font-size: 5rem;
  color: var(--white);
}

.galery .galery-container .box:hover .icon {
  display: flex;
}

.menu {
  background: var(--light-bg);
}

.menu .slide {}

.menu .slide .title {
  padding: 1rem;
  font-size: 3rem;
  background: var(--peru);
  margin-bottom: 3rem;
  text-align: center;
  color: var(--white);
}

.menu .slide .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 4rem;
}

.menu .slide .box {
  flex: 1 1 51rem;
  background-color: var(--white);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.menu .slide .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding-bottom: .5rem;
}

.menu .slide .box p {
  font-size: 1.6rem;
  color: var(--light-black);
  line-height: 2;
}

.menu .slide .box .price {
  font-size: 2.5rem;
  color: var(--peru);
}

.menu .slide .box:hover {
  transform: scale(.9);
  cursor: pointer;
}


.order {
  background-color: var(--peru);
}

.order .heading span {
  color: var(--white);
}

.order .heading h3 {
  color: var(--white);
}

.order form {
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.order form .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.order form .box-container .box {
  flex: 1 1 51rem;
}

.order form .box-container .box input,
.order form .box-container .box textarea {
  width: 100%;
  padding: 1.2rem 1.4rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  border: var(--border);
  text-transform: none;
  color: var(--light-black);
}

.order form .box-container .box input::placeholder,
.order form .box-container .box textarea::placeholder {
  text-transform: capitalize;
}

.order form .box-container .box input:focus,
.order form .box-container .box textarea:focus {
  background: var(--black);
  color: var(--white);
}

.order form .box-container .box input:focus::placeholder,
.order form .box-container .box textarea:focus::placeholder {
  color: var(--light-white);
}

.order form .box-container .box textarea {
  height: 20rem;
  resize: none;
}

.order form .box-container .box .map {
  height: 20rem;
  width: 100%;
  margin: 1rem 0;
  padding: .5rem 0;
}

.order form .box-container .box span {
  color: var(--light-black);
  font-size: 2rem;
}
























































/* MEDIA-FOR-DIFFERENT-SIZE */


@media (max-width:1200px) {
  section {
    padding: 3rem 5%;
  }

}

@media (max-width:991px) {
  section {
    padding: 3rem 2rem;
  }

  html {
    font-size: 55%;
  }

  .home .slide .content h3 {
    font-size: 15vw;
  }
}

@media (max-width: 768px) {
  #menubtn {
    display: block;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    background-color: var(--white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: initial;
    bottom: 1rem;
  }

  .menu .slide .box {
    text-align: center;
    flex-flow: column;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content h3 {
    font-size: 6rem;
  }
}